# Environment variables
.env
HUGGINGFACE_REPO=egwegwgewg/food_expiry_model
GEMINI_API_KEY=AIzaSyBMAA2wkDll-xxqvmr38kICEmxMY65qUJQ

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.bmp
*.webp

# Model files
*.h5
*.pkl
*.pth
*.pt
*.onnx
*.pb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
